@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.admindashboardcontainer {
    height: 100vh;
    width: 100vw;
    font-family: "poppins", sans-serif;
    display: flex;
    gap: 1.5vh;
    flex-direction: column;
}

.admindashboardcontainerdiv1 {
    box-shadow: 0 3px 2px 0 rgba(16, 16, 16, 0.061);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.admindashboardcontainerleftdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: .5vh .8vw;
}

.davlogo {
    /* height: 9vh; */
    width: 5vw;
}

.collegenamediv {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first {
    color: #6b6b6b;
}

.second {
    font-size: 1.5rem;
    color: #0376d4;
}

.third {
    color: #6b6b6b;
}

.admindashboardcontainerrightdiv {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: .5vh 1vw;
}
.profilelogo {
    border: 2px solid rgba(102, 100, 100, 0.22);
    border-radius: 50%;
    height: 6vh;    
    width: 3vw;
}

.adminname {
    font-size: 1.3rem;
    color: #6b6b6b;
}

.admindropdownmenu {
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0 0px 8px 0 rgba(184, 184, 184, 0.2), 0 0px 20px 0 rgba(179, 179, 179, 0.19);
    width: 14vw;
    display: none;
    flex-direction: column;
    right: 0;
    border-radius: 5px;
}

.admindropdownitem {
    padding: 15px;
    cursor: pointer;
}

.admindropdownitem:hover {
    background-color: #e3e9ee61;
}

.admindashboardcontainerrightdiv:hover .admindropdownmenu{
    display: flex;
}

/* div2 */

.headeradmin {
    padding:0 1vw;
    font-size: 1.8rem;
    color: #6b6b6b;
}
.admindashboardcontainerdiv2 {
    display: flex;
    width: 95%;
    padding:0 1vw;
}

.adminfiltersectiondiv {
    display: flex;
    gap: 1vw;
    align-items: center;
    width: 100%;
}

select {
    padding: 1vh .3vw;
    border: none;
    outline: none;    
    background-color: #e3e9ee;
    font-family: "poppins", sans-serif;
    width: 60%;
}

.filtersubmitbtn{
    padding: .7vh 1vw;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border: 3px solid #0376d4;
    color: white;
    border-radius: 3px;
    background-color: #0376d4;
}

.filtersubmitbtn:hover {
    font-size: 1.2rem;
    padding: .7vh 1vw;
    background-color: white;
    border: 3px solid #0376d4;
    color: #0376d4;
    cursor: pointer;
}
/* div3 */
.downloadandactivityheaderdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 99%;
}
.admindashboardcontainerdiv3 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 1.5vh;
}

.admindashboardsubcontainerdiv3 {
    display: flex;
    width: 98%;
    justify-content: center;
    height: 67vh;
    overflow-y: scroll;
}
 th {
    border: 1px solid #cccaca;
    background-color: #e3e9ee;
    color: #0376d4;
    padding: 1vh 1vw;
    position: sticky;
    top: 0;
}

 td {
    border: 2px solid #dfdede;
    padding: 1vh 0;
    color: #555454;
    font-size: .9vw;
}
.adduserformfield {
    display: flex;
    flex-direction: column;
}


input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: #0376d4;

}

.downloadall {
    padding: 1vh 1vw;
    /* width: 9%; */
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #0376d4;
    color: white;
    border: 3px solid #0376d4;

}

.downloadall:hover {
    border: 3px solid #0376d4;
    background-color: white;
    color: #0376d4;
}
/* departmentform */
.adddepartmentmaincontainer {
    display: none;
    flex-direction: column;
    background-color: white;
    gap: 3vh;
    height: 67vh;
    width: 50%;
    position: fixed;
    top: 9%;
    left: 25%;
    padding: 3vh 2vw;
}

.managedepartmentheader {
    font-size: 2vw;
    color: #0376d4;
    padding: 1vh 0;
}

.adddepartmentlabelname {
    font-size: 1.3rem;
    color: #525252;
}

.adddepartmentlabelinput {
    padding: 1vh .5vw;
    outline: none;
    border: none;
    background-color: #e3e9ee;
    border-radius: 3px;
    font-family: "poppins", sans-serif;
    font-size: .8vw;
    width: 70%;
}

.adddepartmentbtn {
    border: none;
    outline: none;
    background-color: #0376d4;
    border: 2px solid #0376d4;
    padding: .4vh 1vw;
    font-size: 1vw;
    font-family: "poppins", sans-serif;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.adddepartmentbtn:hover {
    border: 2px solid #0376d4;
    background-color: white;
    color: #0376d4;
}

.adddepartmentaddinputsection {
    display: flex;
}

.adddepartmentinput {
    width: 100%;
}

.adddepartmentdeletebtn {
    border: none;
    outline: none;
    background-color: #0376d4;
    border: 2px solid #0376d4;
    padding: .2vh .5vw;
    font-size: 1rem;
    font-family: "poppins", sans-serif;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.adddepartmentdeletebtn:hover {
    border: 2px solid #0376d4;
    background-color: white;
    color: #0376d4;
}

.adddepartmenttablemaincontainer {
    width: 100%;
}

.adddepartmenttablecontainer {
    overflow-y: scroll;
}
.adddepartmentexitbtn{
    position: absolute;
    right: 0;
    background-color: #0376d4;
    top: 0;
    color:white;
    padding: 1vh 1vw;
    font-size: 1.1rem;
}
.admindashboardsubcontainerdiv3table{
    width: 100%;
}
.downloadactivitytablebtns{
    display: flex;
    gap: 1vw;
}