@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.adminoverlay {
    background-color: rgba(0, 0, 0, 0.384);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    right: 0;
}

.manageuserdiv {
    overflow: hidden;
    /* border:1px solid red; */
    height: 100vh;
    width: 100vw;
    font-family: "poppins", sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.manageusermaincontainer {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
    /* align-items: center; */
    background-color: white;
    position: absolute;
    top: 5%;
    left: 12%;
    padding: 2vh 2vw;
    justify-content: center;
}

.exitadminuserform {
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: .5vh .9vw;
    color: whitesmoke;
    background-color: #0376d4;
}

.manageuserheader {
    font-size: 2vw;
    color: #0376d4;
    padding: 1vh 0;
}

.adduserbar {
    padding: 1vh 0;
    display: flex;
    gap: 1.5vw;
}   

.adduserlabelname {
    font-size: 1vw;
    color: #525252;
}

.adduserlabel {
    padding: 1.1vh .5vw;
    outline: none;
    border: none;
    /* border-left: 4px solid #0376d4; */
    background-color: #e3e9ee;
    border-radius: 3px;
    font-family: "poppins", sans-serif;
    font-size: .8vw;
}

.addusererrorlabel {
    color: red;
    padding: 1.2vh 0;
}

.adduserbtn {
    border: none;
    outline: none;
    background-color: #0376d4;
    border: 2px solid #0376d4;
    padding: .6vh 1vw;
    font-size: 1vw;
    font-family: "poppins", sans-serif;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.adduserbtn:hover {
    border: 2px solid #0376d4;
    background-color: white;
    color: #0376d4;
}

.searchlabelname {
    font-size: 1.3rem;
    color: #525252;
}

table {
    width: 100%;
    /* padding: 1vh 0; */

}

th {
    text-align: center;
    padding: 1vh 0;
    border: 1px solid #cccaca;
    background-color: #e3e9ee;
    font-size: .9vw;
    color: #0376d4;
}

table td {
    color: #555555;
    text-align: center;
    border: 1px solid #cacaca;
    padding: 1.2vh;
}

.deleteuser {
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: .8vw;
    cursor: pointer;
    padding: .8vh 1vw;
    background-color: #0376d4;
    border: 2px solid #0376d4;
    border-radius: .3rem;
}

.deleteuser:hover {
    background-color: white;
    color: #0376d4;
}

.searchuserbtn {
    padding: 0 1vw;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 3px;
    border: 3px solid #0376d4;
    cursor: pointer;
    padding: 1vh 1vw;
    color: white;
    background-color: #0376d4;
}

.searchuserbtn:hover {
    border-radius: 3px;
    /* padding: 0 1vw; */
    padding: 1vh 1vw;
    font-size: 1.2rem;
    /* padding: 0 2vw; */
    background-color: white;
    border: 3px solid #0376d4;
    color: #0376d4;
}

.searchbardiv {
    display: flex;
    gap: 2.5vw;
    align-items: center;
}

.usersearchbar {
    width: 50%;
    font-size: 1rem;
    padding: 1vh 1vw;
    border: none;
    outline: none;
    font-family: "poppins", sans-serif;
    background-color: #e3e9ee;
}